body {
    margin: 0;
    padding: 0;
    background: #000;
}

p {
    font-size: 8px;
    line-height: 8px;
    text-align: justify;
    margin: 0; /* Remove default margin */
    height: 100vh; /* Set height to full viewport height */
    width: 100vw; /* Set width to full viewport width */
    background: url(photo_2024-12-11_20-29-00.jpg) no-repeat center center; /* Center the image */
    background-size: cover; /* Cover the entire area */
    background-attachment: fixed; /* Keep the background fixed */
    -webkit-background-clip: text; /* Clip background to text */
    -webkit-text-fill-color: rgba(225, 225, 255, 0); /* Make text transparent */
}

/* Additional styles for mobile responsiveness */
@media (max-width: 600px) {
    p {
        font-size: 12px; /* Adjust font size for better readability on mobile */
        line-height: 12px; /* Adjust line height for better readability on mobile */
        background-attachment: scroll; /* Change to scroll for better performance on mobile */
    }
}
